# Dependencies
node_modules/

# Build outputs
dist/
dist-ssr/
*.local

# Secrets
.env
.env.local

# Logs
*.log
npm-debug.log*

# OS / Editor files
.DS_Store
.idea/
.vscode/

# Environment secrets
.env
.env.local
.env.production
